{% extends "base.html" %}

{% block content %}
<div class="container">
  <!-- Today's Weather -->
  <section class="mt-3 mb-3">
    <div class="container">
      <div class="card bg-dark text-white" style="max-height: 30vh; overflow:hidden">
        <img src="https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img" alt="..." style="object-fit: contain;">
        <div class="card-img-overlay">
          <h1 class="card-title text-white">{{ weather_forecast.current_temperature }}°F</h1>
          <p class="card-text">{{ weather_forecast.city }}, {{ weather_forecast.state_country[0] }}, {{ weather_forecast.state_country[1] }}</p>
          <p class="card-text">{{ weather_forecast.current_description }}</p>
          <p class="card-text">Today's Sunrise: {{ weather_forecast.today_sunrise }}</p>
          <p class="card-text">Today's Sunset: {{ weather_forecast.today_sunset }}</p>
          <p class="card-text">Last updated {{ weather_forecast.last_updated }} minutes ago.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Forecast and Daily Song -->
  <section class="mt-3 mb-3">
    <div class="container">
      <div class="row gy-3">
        <!-- Weekly Forecast -->
        <div class="col-lg-6">
          <div class="card h-100 bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title text-white">Next 5-days Weather Forecast</h5>
              <br>
              <div class="table-responsive">
                <table class="table table-borderless text-white">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Weather Condition</th>
                      <th scope="col">Precipitation</th>
                      <th scope="col">Temperature</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for day in weather_forecast.forecast %}
                    <tr>
                      <th scope="row">{{ day.day }}</th>
                      <td>{{ day.weather_condition }}</td>
                      <td>{{ '%.0f' % (day.precipitation * 100) }}%</td>
                      <td>{{ day.temperature }}°F</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

          <!-- Featured Daily Song -->
          <div class="col-lg-6">
            <div class="card h-100 bg-dark text-white">
              <img src="{{ feature_daily_song_data['album_images'] }}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h2 class="card-title text-white">{{ feature_daily_song_data['song_names'] }}</h2>
                <h3 class="card-subtitle mb-2 text-white">{{ feature_daily_song_data['album_names'] }}</h3>
                <p>
                  {% for artist in feature_daily_song_data['artist_names'] %}
                    {{ artist }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- Recommended Playlist -->
  <section class="mt-3 mb-3">
    <div class="container">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title text-white">Recommended Playlist</h5>
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead class="text-white">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Popularity</th>
                  <th scope="col">Album</th>
                  <th scope="col">Duration</th>
                </tr>
              </thead>
              <tbody class="text-white">
                {% for i in range(5) %}
                <tr>
                  <th scope="row" style="display:flex;">
                    <img src="{{ top5_song_data['album_images'][i] }}" class="rounded" alt="" width="60px" height="60px">
                    <div class="p-2">
                      <h6 class="text-white">{{ top5_song_data['song_names'][i] }}</h6>
                      <p>
                        {% for artist in top5_song_data['artist_names'][i] %}
                          {{ artist }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                      </p>
                    </div>
                  </th>
                  <td>{{ top5_song_data['popularity'][i] }}</td>
                  <td>{{ top5_song_data['album_names'][i] }}</td>
                  <td>{{ top5_song_data['durations'][i] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
